<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sales>
            <totals_sort>
                <prostor_cumdiscount>50</prostor_cumdiscount>
            </totals_sort>
        </sales>
        <prostor_cumdiscount>
            <general>
                <enabled>0</enabled>
                <timeout>10</timeout>
                <cache_ttl>300</cache_ttl>
                <loyalty_currency>UAH</loyalty_currency>
            </general>
        </prostor_cumdiscount>
    </default>
</config>
